body {
    box-sizing: border-box;
    font-family: monospace;
    height: 100vh;
    --buttonColor: #6366f1;
    --buttonColorHover: #4338ca;
    --shadowColor: #52525b;
}
/* buttons */
button {
    padding: 1rem 2rem;
    border-radius: 15px;
    background-color: var(--buttonColor);
    color: white;
} 

button:hover {
    background-color: var(--buttonColorHover);
    cursor: pointer;
}

#addBookScreenButton {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
/* pop up screen */

#addBookScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 250px;
    aspect-ratio: 1;
    padding: 0 1rem 1rem 1rem;
    border-radius: 15px;
    box-shadow: 2px 2px #52525b;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: large;
}

.scaled {
    scale: 0;
}

#addBookBox {
    display: grid;
    gap: 0.5rem;
}

#addBookBox>div {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

#closeAddBook {
    text-align: right;
    font-weight: bold;
    font-size: large;
    margin-top: 0.5rem;
}

#closeAddBook:hover {
    cursor: pointer;
}
